/* 默认字体颜色 */
:root {
    --post-link-color: #0366d6;
    --post-link-color-dark: #1589e9;
    --link-hover-color: #30a9de;
    --link-hover-color-dark: #30a9de;
    --link-hover-bg-color: #f8f9fa;
    --link-hover-bg-color-dark: #364151;
}

/* 文章超链接字体色 */
a.emailLink {
    color: var(--post-link-color);
    text-decoration: underline; /* 一直显示下划线 */
    transition: color 0.3s ease-in-out;
}

a.emailLink:hover {
    color: var(--link-hover-color);
    background-color: var(--link-hover-bg-color);
}

/* 黑暗模式下的样式 */
@media (prefers-color-scheme: dark) {
    a.emailLink {
        color: var(--post-link-color-dark);
    }

    a.emailLink:hover {
        color: var(--link-hover-color-dark);
        background-color: var(--link-hover-bg-color-dark);
    }
}
/* 打字机效果渐变 -bynote.cn*/
/** @Source: https://emoryhuang.cn/blog/1729600336.html*/

#subtitle {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#subtitle:before {
    background-color: rgba(0, 0, 0, 0);
}
