.pe-friend {
    overflow: auto;
    height: 7rem;
    width: 33%;
    display: inline-block !important;
    border-radius: .5rem;
    background: var(--entry);
    border-radius: var(--radius);
    margin-right: .1rem;
    margin-bottom: -.3rem;
    border: 1px solid var(--border);
}

.dark .pe-friend:hover {
    background: var(--code-bg);
}

.pe-friend:hover {
    background: rgb(214, 214, 214);
}

.pe-friend-logo-wrap {
    width: 5rem;
    float: left;
}

.pe-friend-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50% !important;
    padding: 0rem;
    margin-top: 1.2rem !important;
    margin-left: .4rem !important;
    background-color: #fff;
}

.pe-friend-info {
    margin-top: 1rem;
}

.pe-friend-name {
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
}

.pe-friend-description {
    text-overflow: ellipsis;
    font-size: .8em;
    color: var(--primary);
}

@media screen and (max-width: 60rem) {
    .pe-friend {
        overflow: auto;
        height: 5rem;
        width: 49%;
        display: inline-block !important;
        border-radius: .5rem;
        background: var(--entry);
        border-radius: var(--radius);
        border: 1px solid var(--border);
    }
    .pe-friend-info {
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pe-friend-name {
        font-size: 1rem;
    }

    .pe-friend-description {
        display: none;
    }

    .pe-friend-logo {
        display: none;
    }
}